<div class="flex flex-col justify-center min-h-screen">
    <div class="text-center">
        <h2>Authorization</h2>

        <p class="my-4">
            {{message}}
            <mat-error *ngIf="wrongPassError">
                wrong password
            </mat-error>
        </p>

        <form class="form" [formGroup]="authForm">
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
                <mat-error class="italic" *ngIf="password?.hasError('required')">
                    password is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <p class="my-4">
                <!--<button mat-raised-button color="primary" class="w-36" (click)="login()">Login</button>-->
                <button class="w-36 btn btn-blue" (click)="login()">Login</button>
            </p>
        </form>
    </div>
</div>
