/** CSS Variables **/
:root {
  --color-primary: #70A1D7;       //  for var(--color-primary)
  --color-secondary: #A1DE93;
  --color-danger: #F47C7C;
  --color-primary-background: #EEEEEE;
  --color-toolbar-background: #222831;
  --color-primary-border: #C4C4C4;
}
